<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739198909270-g5gamemkq5e141lj9v0pn3rsq3jburiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739198909270-g5gamemkq5e141lj9v0pn3rsq3jburiv</string>
	<key>API_KEY</key>
	<string>AIzaSyD6BO-_c_XVDRdjKmqJQrvY8Kxv8jepgP4</string>
	<key>GCM_SENDER_ID</key>
	<string>739198909270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.petals</string>
	<key>PROJECT_ID</key>
	<string>petals-f2bbf</string>
	<key>STORAGE_BUCKET</key>
	<string>petals-f2bbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739198909270:ios:f3981cafeb04a14056b4f7</string>
	<key>DATABASE_URL</key>
	<string>https://petals-f2bbf.firebaseio.com</string>
</dict>
</plist>